<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <h1 class="aboutme-title">Know more about me,</h1>
        <section class="aboutme">
            <img class="picture" src="public/images/self.jpeg"/>
            <p class="description" style="margin-top:20px;">
                My name is Aditi Kapoor. I am a programming enthusiast and I love making websites and apps. I'm always ready to collaborate with others to expand my knowledge about the tech world!
            </p>
            <a href="public/docs/resume.pdf" class="button">View Resume</a>
            <a href="/contact" class="button">Contact</a>
        </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>