<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="welcome-message">
            <h2 class="title">Welcome Visitor!</h2>
            <p>
                I am Aditi Kapoor, and this is my online portal where you can know more about and my services.<br/><br/>
                I love designing websites; I can sometimes develop few too!
            </p>
            <a href="/contact" class="button">Contact</a>
        </div>
        <figure class="quote">
            <blockquote>
                <h2>What I believe In</h2>
                The way to get started is to quit talking and begin doing
            </blockquote>
        </figure>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>