<div class="inner shadow-center">
	<div class="logo">
		<img src="/public/images/logo.png"/>
	</div>
	<div class="navigation">
		<nav>
			<a href="/admin"></i>Admin</a>
			<a href="/logout">Logout</a>
		</nav>
	</div>
</div>