<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="projects">
            <h1 class="section-title">Projects that I made,</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project1.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Dollar Store</h4>
                        <p>
                            A C# project with which a store can be managed.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project2.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">BMI Calculator</h4>
                        <p>
                            A fast and efficient app to calculate BMI on the go.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project3.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Palindrome Checker</h4>
                        <p>
                           A program that checks if a string is palindrome.
                        </p>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>