<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="services">
           <h1 class="section-title">List of Services I Provide,</h1>
           <div class="content">
                <div class="col-left">
                    <div class="service">
                        <h3 class="trigger">Web Designing</h3>
                        <div class="service-content">
                            <p>
                                I can help you with a responsive website design my creating a mockup on Adobe XD.
                            </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Content Management Systems</h3>
                        <div class="service-content">
                            <p>
                                I can make small Content Management Systems for you website.
                            </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Fixing Website Bugs</h3>
                        <div class="service-content">
                            <p>
                                I can fix your website bugs both in frontend and backend.
                            </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Artwork for websites</h3>
                        <div class="service-content">
                                <p>
                                    I can make vector artwork for you website or design custom backgrounds.
                                </p>
                        </div>
                    </div>
                </div>
           </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>